body {
    font-family: "游ゴシック体", "Yu Gothic", "游ゴシック Medium", "You Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.content {
    width: 860px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
}


#header {
    position: relative;
    width: 100%;
    height: 100vh;
}
#header::before {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
}

#site-logo {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 100px;
    aspect-ratio: 16 / 9;
    background-image: url("/img/logo-r.svg");
    background-size: cover;
}
#site-logo.white {
    background-image: url("/img/logo-w.svg");
}


#toggle-btn {
    position: relative;
    width: 100px;
    height: 100px;
    background: #ff0000;
    margin: 0 0 0 auto;
    cursor: pointer;
    pointer-events: all!important;
}

#toggle-btn > span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 0;
    border: 1px solid #fff;
    transition: all 0.5s;
}

#toggle-btn > span:first-of-type {
    top: 36px;
}
#toggle-btn > span:nth-of-type(2) {
    top: 50px;
}
#toggle-btn > span:last-of-type {
    bottom: 36px;
}

#toggle-btn.open > span {
    top: 50%;
}
#toggle-btn.open > span:first-of-type {
    transform: translateX(-50%) rotateZ(45deg);
}
#toggle-btn.open > span:nth-of-type(2) {
    width: 0;
}
#toggle-btn.open > span:last-of-type {
    transform: translateX(-50%) rotateZ(-45deg);
}


#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
    transition: all 0.5s;
    pointer-events: all;
}

#menu.open {
    background: #ff0000;
    z-index: 9999;
}


#main-visual {
    height: calc(100vh - 100px);
    width: 100%;
    background-image: url("/img/mainvisual1.jpg");
    background-size: contain;
    background-position: right;
}


#header > .content {
    position: absolute;
    top: 50%;
    left: 5%;
}

#goto-free-trial-btn {
    position: relative;
    padding: 18px 135px;
    background: #ff0000;
    border-radius: 18px;
    border-right: 3px solid #aa0000;
    border-bottom: 5px solid #770000;
}
#goto-free-trial-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) rotateZ(45deg);
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

#goto-free-trial-btn a {
    color: #fff;
}


section .sec-header {
    background: #fff;
    padding-bottom: 80px;
}
section .sec-header .sec-title {
    position: relative;
    padding: 120px 0 0 0;
    text-align: center;
}
section .sec-header .sec-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 0;
    border: 1px solid #000;
}


#sec-1 {
    background: #ff0000;
}

#sec-1 ul {
    padding: 60px 0;
}

#sec-1 ul li {
    position: relative;
    height: 240px;
    padding: 20px 0;
}

#sec-1 .slide-tag {
    display: flex;
    position: absolute;
    width: 50%;
    height: 200px;
    background: #fff;
}

#sec-1 .slide-tag-inner {
    display: flex;
    width: fit-content;
    height: 60px;
    margin: auto;
}

#sec-1 .slide-tag-icon {
    margin-right: 30px;
    height: 100%;
}

#sec-1 ul li:nth-of-type(2n + 1) .slide-tag {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0;
    left: -100%;
    transition: all 0.5s;
}
#sec-1 ul li:nth-of-type(2n + 1) .slide-tag.active {
    left: 0;
}

#sec-1 ul li:nth-of-type(2n) .slide-tag {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    top: 0;
    right: -100%;
    transition: all 0.5s;
}
#sec-1 ul li:nth-of-type(2n) .slide-tag.active {
    right: 0;
}


#sec-2 ul li {
    display: flex;
    margin-bottom: 80px;
}
#sec-2 ul li:nth-of-type(2n + 1) {
    flex-direction: row;
}
#sec-2 ul li:nth-of-type(2n) {
    flex-direction: row-reverse;
}

#sec-2 ul li .message-icon-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
}
#sec-2 ul li:nth-of-type(2n + 1) .message-icon-wrapper {
    margin-right: 25px;
}
#sec-2 ul li:nth-of-type(2n) .message-icon-wrapper {
    margin-left: 25px;
}

#sec-2 ul li .message-icon-wrapper img {
    background: #CCCCCC;
    border-radius: 50%;
}
#sec-2 ul li .message-icon-wrapper .text {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    font-size: 0.75rem;
    color: #333;
}

#sec-2 ul li .text-wrapper {
    position: relative;
    width: 60%;
    padding: 20px;
    border-radius: 15px;
    background: #E9F1FB;
}
#sec-2 ul li:nth-of-type(2n + 1) .text-wrapper::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    transform: translateX(-100%);
    width: 15px;
    height: 30px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    background: #E9F1FB;
}
#sec-2 ul li:nth-of-type(2n) .text-wrapper::after {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 0;
    transform: translateX(100%);
    width: 15px;
    height: 30px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    background: #E9F1FB;
}


#sec-3 {
    background: url("/img/bg.gif");
}

#sec-3 .sec-header {
    background: #00000000;
}

#sec-3 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 25px;
    padding-bottom: 60px;
}

#sec-3 ul li {
    max-width: 400px;
    height: 300px;
    background: #fff;
    border-radius: 15px;
    padding: 60px;
    text-align: center;
}

#sec-3 ul li h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
}
#sec-3 ul li .title-en {
    font-size: 1rem;
    margin-bottom: 25px;
}


#sec-trial {
    padding: 120px 0;
    text-align: center;
}

#sec-trial .content > p {
    margin-bottom: 15px;
}

#sec-trial #trial-btn {
    display: flex;
    width: 100%;
    height: 60px;
    background: #ff0000;
    border-radius: 30px;
}
#sec-trial #trial-btn a {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
}


#footer {
    background: #E8E8E8;
}

#footer .content > ul {
    display: flex;
    padding: 60px 0;
}
#footer .content > ul > li {
    width: calc(100% / 4);
}

#footer .content > ul > li > p {
    font-weight: bold;
}

#footer .content > ul > li > ul {
    padding-left: 15px;
}

#footer a {
    color: #000;
}

#footer #copy-right {
    font-size: 0.75rem;
    text-align: center;
    padding: 20px 0;
}
