body {
    font-family: "游ゴシック体", "Yu Gothic", "游ゴシック Medium", "You Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}


#header {
    position: relative;
    width: 100%;
    height: 100vh;
}
#header::before {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
}

#site-logo {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 100px;
    aspect-ratio: 16 / 9;
    background-image: url("/img/logo-r.svg");
    background-size: cover;
}
#site-logo.white {
    background-image: url("/img/logo-w.svg");
}


#toggle-btn {
    position: relative;
    width: 100px;
    height: 100px;
    background: #ff0000;
    margin: 0 0 0 auto;
    cursor: pointer;
    pointer-events: all!important;
}

#toggle-btn > span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 0;
    border: 1px solid #fff;
    transition: all 0.5s;
}

#toggle-btn > span:first-of-type {
    top: 36px;
}
#toggle-btn > span:nth-of-type(2) {
    top: 50px;
}
#toggle-btn > span:last-of-type {
    bottom: 36px;
}

#toggle-btn.open > span {
    top: 50%;
}
#toggle-btn.open > span:first-of-type {
    transform: translateX(-50%) rotateZ(45deg);
}
#toggle-btn.open > span:nth-of-type(2) {
    width: 0;
}
#toggle-btn.open > span:last-of-type {
    transform: translateX(-50%) rotateZ(-45deg);
}


#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
    transition: all 0.5s;
    pointer-events: all;
}

#menu.open {
    background: #ff0000;
    z-index: 9999;
}


#main-visual {
    height: calc(100vh - 100px);
    width: 100%;
    background-image: url("/img/mainvisual1.jpg");
    background-size: contain;
    background-position: right;
}
